.article-card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.article-card {
    width: 10em;
    font-size: 20pt;
    margin: 0 auto;
    margin-top: 20px;
}

.card-title{
    font-size: 20pt;
}

.card-date {
    font-size: 1rem;
    text-align: center;
}

.card-content {
    font-size: 1rem;
    width: 100%;
    text-align: justify;
}

