.pagelink{
    margin: 0 auto;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.inpage-link{
    border:mediumspringgreen 1px solid;
    color: mediumspringgreen;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    transition: 1s;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.inpage-link:hover{
    color:hotpink;
    border: hotpink 1px solid;
    transition: .5s;
}